.button{
    cursor: pointer;
    border: none;
    padding: 5px 15px;
    margin: 10px;
}
.userBlock {
    display: flex;
    align-items: center;
}
.userBlock__text {
    margin: 0 10px;
}
.modal, .modal-form {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal__body {
    background-color: skyblue;
    position: fixed;
    padding: 20px 100px;
    border-radius: 10px;
    top: 20px;
}
.modal__close {
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    top: -15px;
    right: 15px;
}
.modal__button {
    cursor: pointer;
    border: none;
    padding: 5px 10px;
    margin: 10px;
}
.modal__button_remove:hover {
    background-color: red;
}
.modal__button_noRemove:hover {
    background-color: green;
}
.modal__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal__input-block {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    align-items: center;
}
.modal_none {
    display: none;
}
.button_form_save:hover {
    background-color: green;
}
.button_form_close:hover {
    background-color: red;
}
.text-error {
    color: red;
    margin: 0;
}

