.calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.calculator__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFB700;
    background-color: #172CAF;
    border: none;
    border-radius: 50%;
    padding: 70px;
}
.calculator__button {
    padding: 10px;
    margin: 3px;
    border: none;
    border-radius: 30%;
    background-color: #FFB700;
}
.calculator__input {
    margin: 10px;
    width: 200px;
}